{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_export_vars,
    warn_unused_import
]}.

{project_plugins, [
    {erlfmt, "1.7.0"}
]}.

{erlfmt, [
    write,
    {print_width, 80},
    {files, [
        "*.config{,.script}",
        "src/**/*.{hrl,app.src,erl}",
        "test/**/*.erl"
    ]}
]}.

{profiles, [
    {test, [
        {cover_enabled, true},
        {cover_opts, [verbose]}
    ]}
]}.
